@page
@model IndexModel
@{
ViewData["Title"] = "Úvod";
}

<div>
    <div @*style="margin-left: 25%; margin-right: 25%;"*@ class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>Monitoring a management napájení virtuálních serverů</h2>
    <p>@Model.Settings.vCenterApiUrl</p>
    <p>Aktuální stav systému: @Html.DisplayFor(modelItem => Model.Settings.SystemState)</p>
    </div>
</div>
