@page
@model MMNVS.Pages.Hosts.StorageServers.Datastores.CreateModel

@{
    ViewData["Title"] = "Nový datastore";
}

<h2>Nový datastore</h2>

<h3>na storage serveru @Model.StorageServer.Name</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-2 form-floating">
                <input asp-for="Datastore.Name" class="form-control" />
                <label asp-for="Datastore.Name" class="form-label"></label>
                <span asp-validation-for="Datastore.Name" class="text-danger"></span>
            </div>
            <div class="mt-2 form-floating">
                <input asp-for="Datastore.Notes" class="form-control" />
                <label asp-for="Datastore.Notes" class="form-label"></label>
                <span asp-validation-for="Datastore.Notes" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="w-100 btn btn-outline-dark">Vytvořit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-storageServerId = "@Model.StorageServer.Id">Zpět na seznam datastorů</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
