@page
@model MMNVS.Pages.Hosts.StorageServers.CreateModel

@{
    ViewData["Title"] = "Přidání storage serveru";
}

<h2>Přidání virtuálního storage serveru</h2>

<h3>na host serveru @Model.HostServer.Name</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-2 form-floating">
                <input asp-for="VirtualStorageServer.Name" class="form-control" />
                <label asp-for="VirtualStorageServer.Name" class="form-label"></label>
                <span asp-validation-for="VirtualStorageServer.Name" class="text-danger"></span>
            </div>
            <div class="mt-2 form-floating">
                <input asp-for="VirtualStorageServer.Order" class="form-control" />
                <label asp-for="VirtualStorageServer.Order" class="form-label"></label>
                <span asp-validation-for="VirtualStorageServer.Order" class="text-danger"></span>
            </div>
            <div class="mt-2 form-floating">
                <input asp-for="VirtualStorageServer.Notes" class="form-control" />
                <label asp-for="VirtualStorageServer.Notes" class="form-label"></label>
                <span asp-validation-for="VirtualStorageServer.Notes" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="w-100 btn btn-outline-secondary">Vytvořit a pokračovat k přidání datastorů</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-hostServerId = "@Model.HostServer.Id">Zpět na seznam storage serverů</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
